<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1>Welcome to the Job Apps App</h1>
				<h2>Track your applications and interviews<h2>
					<% if signed_in? %>
				  	<%= link_to "View Jobs", user_jobs_path(current_user), class: "btn btn-warning btn-lg" %>
				  	<%= link_to "Track a new job application", new_user_job_path(current_user), class: "btn btn-warning btn-lg" %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning btn-lg" %>
					<% end %>
				</form>					
			</div><!-- /col-lg-4 -->
			<div class="col-lg-4">
			</div><!-- /col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /headerwrap -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Your Job Search<br/>Organized and Simplified</h1>
				<h3>Finding jobs to apply for is just one part of the battle. Keeping track of every job you've applied for and interview you've had is a necessary evil. We're making that better.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<%= image_tag('bookmark_handy-icon_01.png') %>
				<h4>Keep Job Info Organized</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag('calendar_handy-icon_04.png') %>
				<h4>Keep Track of Dates</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag('phone_handy-icon_03.png') %>
				<h4>Keep All Your Data Handy on any Device</h4>
				<p>Simple, responsive design allows you to view your data on any device. Will come in handy when you need to pull up and review something quickly.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				  <%= link_to "Join Now", new_user_registration_path, class: "btn btn-warning btn-lg" %>				
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->			