<h2><%= @job.position %></h2>
<div class="col-lg-8">
  <h3><%= @job.company %> | Applied: <%= @job.date_applied %></h3>
  <% if @job.description? %>
  <h4>Description</h4>
  <p><%= simple_format @job.description %></p>
  <% end %>
  <% if @job.notes? %>
  <h4>Notes</h4>
  <p><%= simple_format @job.notes %></p>
  <% end %>
  <% if @job.link? %>
  <h4>Website</h4>
  <p><%= link_to @job.link, @job.link %></p>
  <% end %>
  <h4>Interviews</h4>
  <ul>
	  <% @job.interviews.each do |interview| %>
	  <li><%= link_to "#{interview.kind}: ", interview_path(interview) %> <%= interview.date_interviewed %></li>
	  <% end %>
  </ul>
</div>
<% if @job.contact_name? || @job.contact_email? || @job.contact_phone? || @job.contact_address? %>
<aside class="col-lg-4"> 
  <h3>Contact</h3>
  <% if @job.contact_name? %>
  <p><%= @job.contact_name %></p>
  <% end %>
  <% if @job.contact_email? %>
  <h4>Email</h4>
  <p><%= @job.contact_email %></p>
  <% end %>
  <% if @job.contact_phone? %>
  <h4>Phone Number</h4>
  <p><%= simple_format @job.contact_phone %></p>
  <% end %>
  <% if @job.contact_address? %>  
  <h4>Address</h4>
  <p><%= simple_format @job.contact_address %></p>
  <% end %>
</aside>
<% end %>
<div class="col-lg-12">
<small><%= link_to "View All Jobs", user_jobs_path(@job.user_id) %> | 
<%= link_to "Add a new interview", new_job_interview_path(@job) %>
<br>
<small><%= link_to 'Edit', edit_job_path %> | 
<%= link_to 'Destroy', job_path, method: :delete, data: { confirm: 'Are you sure?' } %></small>
</div>