<h2><%= @job.position %></h2>
<h3><%= @job.company %> | Applied: <%= @job.date_applied %></h3>
<h4>Description</h4>
<p><%= simple_format @job.description %></p>
<h4>Notes</h4>
<p><%= simple_format @job.notes %></p>
<h4>Website</h4>
<p><%= link_to @job.link, @job.link %></p>
<h4>Interviews</h4>
<ul>
	<% @job.interviews.each do |interview| %>
	<li><%= link_to interview.kind, interview_path(interview) %> <%= interview.date_interviewed %></li>
	<% end %>
</ul>
<small><%= link_to "View All Jobs", user_jobs_path(@job.user_id) %> | 
<%= link_to "Add a new interview", new_job_interview_path(@job) %>
<br>
<small><%= link_to 'Edit', edit_job_path %> | 
<%= link_to 'Destroy', job_path, method: :delete, data: { confirm: 'Are you sure?' } %></small>